@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #666666;
  --primary: #ABDB25;
  --primary-fg: #666666;
  --secondary: #999999;
  --muted: #CCCCCC;
  --muted-fg: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-fg);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-fg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #CCCCCC;
    --primary: #ABDB25;
    --primary-fg: #FFFFFF;
    --secondary: #999999;
    --muted: #666666;
    --muted-fg: #CCCCCC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

::selection { background: #abdb25; color: #050505; }
